[alias]
  a = add
	b = branch
	ch = checkout
	co = commit
  cm = commit -m
  ca = commit --amend
  d = diff
  ds = diff --cached
  del = branch -D
  delr = branch -D --remote
  lg = log --color --oneline --graph --decorate --branches --tags --format='%C(auto)%h %Cgreen(%cr)%C(auto)%d %s'
  r = rebase

[push]
	autoSetupRemote = true
[pull]
	ff = only
[rebase]
	updateRefs = true
