# Ignore files in "config" folders that shouldn't be backed up.
vim/.vim/bundle/
vim/.vim/plugged/
vim/.vim/swapfiles/*.swp

neovim/.config/nvim/bundle/

# Ignore plugins that shouldn't be backed up.
tmux/.tmux/plugins/
tmux/.tmux/resurrect/

# Ignore i3 archived workspaces.
i3/.i3/workspaces
