# Swap ; and :
command ;

# Zoom
zoom_in  +
zoom_out =

# ---------- NAVIGATiON ----------

# Dvorak vim movement
move_down <t>
move_up <n>
next_page <h>
previous_page <s>

previous_page <up>
next_page <down>

# Goto the previous history point
prev_state -

# Goto the next history point
next_state _

# ---------- FILE NAVIGATiON ----------

# Open table of contents.
goto_toc <u>

# Open a searchable list of previously opened documents.
open_prev_doc <e>

# Create a new sioyek window
new_window <C-n>

# ---------- SEARCH ----------

next_item j
previous_item k

# ---------- PORTAL ----------

toggle_one_window <f12>
