# Swap ; and :
command ;

# ---------- NAVIGATiON ----------

# Dvorak vim movement
move_down <t>
move_up <n>
next_page <h>
previous_page <s>

previous_page <up>
next_page <down>

# ---------- FILE NAVIGATiON ----------

# Open table of contents.
goto_toc <u>

# Open a searchable list of previously opened documents.
open_prev_doc <e>

# ---------- SEARCH ----------

next_item j
previous_item k

# ---------- PORTAL ----------

toggle_one_window <f12>
